:root {
    --color-bg-primary: #282c34;
    --color-bg-secondary: #21252b;
    --color-text-primary: #abb2bf;
    --color-text-danger: #c7372f;
    --color-text-secondary: #21252b;
    --color-text-success: #98c379;
    --color-border: #444;
    --color-accent: #00bcd4;
    --color-accent-hover: #0097a7;
    --color-white: #ffffff;
    --color-notification: #ff3b30;

    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 15px;

    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;

    --transition-fast: all 0.2s ease-in-out;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 350px;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    padding: var(--spacing-md);
    margin: 0;
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

/* 
.header h2,
.header h1 {
	flex-grow: 1;
	text-align: center;
	margin: 0;
} */

.header #rescan-passive-btn {
    display: none;

    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    vertical-align: middle;
    transition: var(--transition-fast);
}

.header #rescan-passive-btn svg {
    width: 20px;
    height: 20px;
    fill: var(--color-accent);
}

h1 {
    font-size: var(--font-size-lg);
    margin: 0;
}

h2 {
    font-size: var(--font-size-md);
    margin: 0;
}

h2 #findings-count {
    opacity: 0.7;
}

#findings-list {
    max-height: 240px;
    overflow-y: auto;
}

.no-findings {
    text-align: center;
    border-bottom: 1px solid var(--color-border);
    padding: 8px;
    font-size: var(--font-size-md);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}

.no-findings span:only-child {
    padding-bottom: var(--spacing-md);
}

.no-findings .btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    vertical-align: middle;
    transition: var(--transition-fast);
}

.no-findings .btn-icon svg {
    width: 20px;
    height: 20px;
    fill: var(--color-accent);
}

.no-findings .btn-icon:hover svg {
    fill: var(--color-accent-hover);
}

label {
    display: block;
    font-size: var(--font-size-md);
    font-weight: bold;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.btn {
    width: 100%;
    padding: var(--spacing-md);
    font-size: var(--font-size-md);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition-fast);
    text-align: center;
}

.btn:disabled {
    background-color: var(--color-border);
    opacity: 0.6;
    cursor: not-allowed;
}

.btn:disabled:hover {
    background-color: var(--color-border);
}

.btn:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
}

.btn-primary {
    background-color: var(--color-accent);
    color: var(--color-text-secondary);
}

.btn-primary:hover {
    background-color: var(--color-accent-hover);
}

.separator {
    height: 1px;
    background-color: var(--color-border);
    margin: var(--spacing-md) 0;
    border: 0;
}

.status-message {
    margin-top: 8px;
    height: 14px;
    font-size: var(--font-size-sm);
    color: var(--color-text-success);
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-md);
}

.github-link {
    position: relative;
    display: inline-block;
}

.github-link svg {
    width: 20px;
    height: 20px;
    fill: var(--color-text-primary);
    transition: var(--transition-fast);
    opacity: 0.7;
}

.github-link:hover svg {
    fill: var(--color-white);
    opacity: 1;
}

.update-indicator {
    display: none;
    position: absolute;
    top: -5px;
    right: -12px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-notification);
    opacity: 0.7;

    text-shadow: 0 0 3px var(--color-background);

    transition: var(--transition-fast);
}

.github-link.update-available .update-indicator {
    display: block;
    animation: pulse-text 1.5s infinite;
}

.github-link:hover .update-indicator {
    animation: none;
    opacity: 1;
    transform: scale(1);
}

@keyframes pulse-text {
    0% {
        /* opacity: 0.7; */
        transform: scale(0.9);
    }

    50% {
        /* opacity: 1; */
        transform: scale(1.1);
    }

    100% {
        /* opacity: 0.7; */
        transform: scale(0.9);
    }
}

.tooltip {
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: var(--color-white);
    text-align: center;
    border-radius: 4px;
    padding: var(--spacing-sm);
    position: absolute;

    z-index: 10;
    bottom: 140%;
    left: 50%;

    transform: translateX(-50%);

    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.github-link.update-available:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.4s;
}

.finding-card {
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 8px;
}

.finding-card h2 {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: var(--color-text-danger);
    font-weight: 600;
}

.finding-card .source {
    font-size: var(--font-size-sm);
    color: var(--color-text-primary);
    margin-bottom: 8px;
    word-wrap: break-word;
}

.finding-card .source span {
    font-style: italic;
    opacity: 0.7;
}

.finding-card .description {
    font-size: var(--font-size-sm);
    color: var(--color-text-primary);
    margin-bottom: 8px;
    word-wrap: break-word;
}

.finding-card .description span {
    font-style: italic;
    opacity: 0.7;
}


.finding-card .secret-found code {
    font-size: calc(var(--font-size-sm) + 1px);
    background: #3c2f30;
    color: var(--color-text-danger);
    padding: 2px 4px;
    border-radius: 3px;
    word-wrap: break-word;
    max-width: 100%;
}

.finding-card a,
.finding-card a:visited {
    color: var(--color-accent);
    text-decoration: underline;
    transition: var(--transition-fast);
}

.finding-card a:hover {
    color: var(--color-accent-hover);
}